#center_div
{
  width: 130px;
  height: 180px;
  background-color:cornflowerblue;
  color: #fff;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}
#center_div>p{
  padding: 10px 0;
  margin: 0;
  color: #fff;
  text-align: center;

}
#p1{
  font-size: 16px;
}
#p2{
  font-size: 14px;
}
#p3{
  font-size:35px;
  padding-top: 10px;
  padding-bottom: 0;
}